@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

/* Color & Font Styles */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.hero,
footer {
  background-color: #1f2937;
  color: white;
}

.main-text {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.secondary-text,
.link {
  font-style: 18px;
  color: #e5e7eb;
}

.header-text {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

body > * {
  padding: 1em 15%;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: inline;
}

.link > a {
  text-decoration: none;
  color: inherit;
}

/* Main Content */

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin: 2em 0;
}

.main > * {
  margin: 2em 0;
}

.content {
  max-width: 500px;
}

.btn {
  background-color: #3882f6;
  color: white;
  display: inline-block;
  padding: 0.5em 2em;
  border-radius: 9px;
}

/* Footer */

footer {
  padding: 1em;
  text-align: center;
}

/* Information */

.info-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.info-item {
  max-width: 200px;
  text-align: center;
}

/* Call-to-action */

.call-to-action {
  color: white;
  background-color: #3882f6;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em 10%;
  margin: 2em 15%;
  gap: 1em;
}

.action-content > * {
  margin: 0;
}

.call-to-action .btn {
  border: 0.1em solid white;
}

/* Quote */

.quote {
  background-color: #e5e7eb;
  margin: 0;
  padding: 3em 25%;
}

.quote > * {
  padding: 0;
  margin: 0;
}

.quote .text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote .source {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  margin-top: 1em;
}
